@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

:root {
    --deep-blue: #14539a;
    --dark-blue: #0e3a6c;
}

html {
    font-size: 20px;
    background: url("https://wallpaperset.com/w/full/9/8/4/534101.jpg");
    background-size:cover;
} 

/* Header section */

header {
    width: 100vw;
    height: 12.5vh;

    background-color: var(--deep-blue);

    position: fixed;
    top: 0; 
    left: 0;
    z-index: 100;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

header li {
    list-style: none;
    cursor: pointer;
    font-family: 'Salsa', cursive;
    text-shadow: 5px 0px 7px rgba(0,0,0,0.68);
    letter-spacing: 0.13rem;
    font-size: 1.5rem;
    animation: float 6s ease-in-out infinite;
    color: whitesmoke;
    transform: translatey(0px);
}

header li a {
    text-decoration: none;
    color: whitesmoke;
    transition: all 0.3s ease-in-out;
}

header li a:before {
    content: "";
    width: 0;
    height: 3px;
    bottom: 5px;
    left: 0;
    bottom: -3px;
    z-index: 0;
    position: absolute;
    background: #00c9a7;
    transition: all 0.3s ease-in-out;
}

header li a:hover {
    text-decoration: underline;
    background-position: 0%;
}

header li a:hover:before {
    width: 100%;
}

header li div img {
    border-radius: 50%;
    height: 5vh;
    width: calc(5vh * 1.02);
}


.profile-dropdown {
    position: relative;
    display: inline-block;
}

.hidden-profile-view {
    margin-left: -3.5vw; 
    padding-right: 1.5vw;
    display: block;
    position: absolute;
    text-align: center;
    background-color: rgba(20, 83, 154, 0.5);
    box-shadow: 0px 0px 25px 4px rgba(0, 0, 0, 0.75);
    border-radius: 0.3rem;
    opacity: 0;
    transition: opacity 600ms ease-in-out;
}

.profile-dropdown:hover .hidden-profile-view {
    opacity: 1;
}

.hidden-profile-view li {
    margin-top: 1.7vh;
    display: inline-block;
}

/* End of Header */


main {
    width: 100vw;
    height: 75vh;
    margin: 10vh auto 0;
    margin-left: -0.4vw;
    /* background-color: #00c9a7; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10vh 2vw;
}

.product-container {
    height: 40vh;
    width: 20vw;
    background-color: var(--deep-blue);
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    position: relative;
    transition: 600ms ease-in-out;
    margin-bottom: 5vh;
    border-radius: 0.8rem;
}

.product-container:hover .shown-info {
    height: 45%;
}

.image-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 600ms ease-in-out;
}

.product-container img {
    margin-top: 1.5vh;
    width: 100%;
    height: auto;
}

.shown-info {
    width: 100%;
    height: 30%;
    background-color: #fff;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;
    transition: 600ms ease-in-out;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 0.8rem;
}

.shown-info h5 {
    margin-top: 0.3vh;
    font-size: 1.1rem;
    font-family: 'Permanent Marker', cursive;
}

.show-info-inner-container {
    display: flex;
}

.shown-info p {
    font-size: 0.8rem;
    width: 60%;
    margin-top: -2vh;
    font-family: 'Salsa', cursive;
    align-self: flex-start;
    margin-left: 1rem;
}

#price {
    font-size: 1.5rem;
    align-self: center;
    font-weight: 600;
}

button {
    position: absolute;
    top: 10%;
    z-index: 10;
    padding: 0.5rem 1rem;
    background-color: var(--dark-blue);
    color: #f5f5f5;
    font-size: 1.2rem;
    text-shadow: 5px 0px 7px rgba(0,0,0,0.68);
    font-family: 'Salsa', cursive;
    font-weight: 600;
    letter-spacing: 0.15rem;
    border: none;
    cursor: pointer;
    transition: 600ms ease-in-out;
    margin-bottom: -2Vh;
    animation: hithere 10s ease-in-out infinite;
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
    transition: 600ms ease-in-out;
}

button:nth-child(2) {
    top: 40%;
}

.product-container:hover {
    transform: scale(1.1);
}

.product-container:hover button {
    opacity: 1;
}

.product-container:hover .image-container::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.13);
    z-index: 1;
}

button:hover {
    background-color: var(--dark-blue);
    transform: translateY(-0.2rem);
}


footer {
    width: 100vw;
    height: 31vh;
    margin: 12vh auto 0;
    margin-left: -0.5vw;
    position: absolute;
    z-index: -2;
    background-color: var(--deep-blue);
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    font-family: 'Salsa', cursive;
    color: whitesmoke;
    text-shadow: 5px 0px 7px rgba(0,0,0,0.68);
}

footer h5 {
    cursor: pointer;
    font-size: 1.5rem;
    margin-bottom: 2.2vh;
    transition: 600ms ease-in-out;
    animation: float 6s ease-in-out infinite;
}

footer li {
    cursor: pointer;
    list-style: none;
    margin-bottom: 2.5vh;
    transition: 600ms ease-in-out;
    font-size: 1.2rem;
    animation: float 6s ease-in-out infinite;
}

footer h5:hover, footer li:hover {
    text-decoration: underline;
    color: #dddddd;
}

@keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-0.5rem);
    }
    100% {
      transform: translatey(0px);
    }
  }

@keyframes hithere {
    30% { transform: scale(1.15); }
    40%, 60% { transform: rotate(-10deg) scale(1.15); }
    50% { transform: rotate(10deg) scale(1.15); }
    70% { transform: rotate(0deg) scale(1.15); }
    100% { transform: scale(1); }
  }