@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

:root {
    --deep-blue: #14539a;
}

html {
    font-size: 20px;
    /* background-color: var(--deep-blue); */
} 


/* Header section */

header {
    width: 100vw;
    height: 12.5vh;
    background-color: var(--deep-blue);
    position: fixed;
    top: 0; 
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header li {
    list-style: none;
    cursor: pointer;
    font-family: 'Salsa', cursive;
    text-shadow: 5px 0px 7px rgba(0,0,0,0.68);
    letter-spacing: 0.13rem;
    font-size: 1.5rem;
    animation: float 6s ease-in-out infinite;
    color: whitesmoke;
    transform: translatey(0px);
}

header li a {
    text-decoration: none;
    color: whitesmoke;
    transition: all 0.3s ease-in-out;
}

header li a:before {
    content: "";
    width: 0;
    height: 3px;
    bottom: 5px;
    left: 0;
    bottom: -3px;
    z-index: 0;
    position: absolute;
    background: #00c9a7;
    transition: all 0.3s ease-in-out;
}

header li a:hover {
    text-decoration: underline;
    background-position: 0%;
}

header li a:hover:before {
    width: 100%;
}

header li div img {
    border-radius: 10%;
    height: 5vh;
    width: calc(5vh * 1.02);
}


.profile-dropdown {
    position: relative;
    display: inline-block;
}

.hidden-profile-view {
    width: 10vw;
    margin-left: -4.5vw; 
    padding-right: 1.5vw;
    display: block;
    position: absolute;
    text-align: center;
    background-color: rgba(20, 83, 154, 0.5);
    box-shadow: 0px 0px 25px 4px rgba(0, 0, 0, 0.75);
    border-radius: 0.35rem;
    opacity: 0;
    transition: 100ms ease-in-out;
}

.hidden-profile-view:hover {
    transition: 600ms ease-in-out;
    background-color: rgba(20, 83, 154, 0.80);
}

.hidden-profile-view li {
    margin-top: 1.7vh;
    display: inline-block;
}

/* End of Header */

main {
    margin-top: 12.5vh;
    margin-left: -0.4vw;
    background-color: aqua;
    width: 99.1vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}





footer {
    width: 98vw;
    height: 30vh;
    position: absolute;
    z-index: -2;
    background-color: var(--deep-blue);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Salsa', cursive;
    color: #d6d6d6;
    text-shadow: 5px 0px 7px rgba(0,0,0,0.68);
    text-align: center;
}

footer h5 {
    color: #ffff;
    font-size: 1.5rem;
    margin-bottom: 2.2vh;
    animation: float 6s ease-in-out infinite;
}

footer li {
    cursor: pointer;
    list-style: none;
    margin-bottom: 2.5vh;
    transition: 600ms ease-in-out;
    font-size: 1.2rem;
    animation: float 6s ease-in-out infinite;
}

 footer li:hover {
    text-decoration: underline;
    color: #ffff;
}

footer ul li i {
    margin-right: 0.5rem;
}


@keyframes bgPositionAnim {
    0% {
        background-position: center calc(100%);
    }
    100% {
        background-position: center;
    }
}

@keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-0.2rem);
    }
    100% {
      transform: translatey(0px);
    }
}