@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

:root {
    --deep-blue: rgb(20, 83, 154);
}

html {
    font-size: 20px;
    background: url("https://t3.ftcdn.net/jpg/04/29/35/62/360_F_429356296_CVQ5LkC6Pl55kUNLqLisVKgTw9vjyif1.jpg");
    background-size: cover;
} 


header {
    width: 100vw;
    height: 12.5vh;

    background-color: var(--deep-blue);

    position: fixed;
    top: 0; 
    left: 0;

    display: flex; /* Make header a flex container */
    justify-content: space-around;
}


header li {
    margin-top: 3.5vh;
    list-style: none;
    cursor: pointer;
    font-family: 'Salsa', cursive;
    text-shadow: 5px 0px 7px rgba(0,0,0,0.68);
    letter-spacing: 0.1rem;
    font-size: 1.5rem;
    animation: float 6s ease-in-out infinite;
    color: whitesmoke;
    transform: translatey(0px);
}

header li a:hover {
    transition: 400ms ease-in-out;
    color: black;
    text-decoration: underline;
}

header li a {
    text-decoration: none;
    color: whitesmoke;
}

header li div img {
    border-radius: 50%;
    margin-top: -1.2vh;
    height: 5vh;
    width: calc(5vh * 1.02);
}

.profile-dropdown {
    position: relative;
    display: inline-block;
    
}

.hidden-profile-view {
    margin-left: -3vw; 
    padding-right: 1.5vw;
    display: block;
    position: absolute;
    text-align: left;
    background-color: rgba(20, 83, 154, 0.5);
    box-shadow: 0px 0px 25px 4px rgba(0, 0, 0, 0.75);
    border-radius: 1.4rem;
    opacity: 0;
    transition: opacity 600ms ease-in-out;
}

.profile-dropdown:hover .hidden-profile-view {
    opacity: 1;
}

.hidden-profile-view li {
    margin-top: 2vh;
    display: inline-block;
}



main {
    width: 100vw;
    height: 75vh;
    margin: 12.5vh auto 0;
    /* background-color: #0ee9a0; */
    margin-left: -0.3vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8vh;
}

aside {
    height: 100%;
    width: 50vw;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside h2 {
    color: whitesmoke;
    font-size: 3rem;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    text-shadow: 5px 0px 7px rgba(0,0,0,0.68);
    letter-spacing: 0.8rem;
    margin-bottom: 0;
}

aside h3 {
    color: whitesmoke;
    font-size: 1.2rem;
    text-align: center;
    font-family: 'Salsa', cursive;
    text-shadow: 5px 0px 7px rgba(0,0,0,0.68);
    letter-spacing: 0.1rem;
}

aside p {
    font-family: 'Salsa', cursive;
    color: whitesmoke;
    font-weight: 100;
    line-height: 1.8rem;
}

aside button {
    margin-top: 1vh;
    width: 25%;
    padding: 1.5rem 0rem;
    background-color: var(--deep-blue);
    color: #f5f5f5;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.07rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 600ms ease-in-out;
}



footer {
    width: 98vw;
    height: 20vh;
    margin: 0vh auto 0;
    position: absolute;
    z-index: -2;
    /* background-color: var(--deep-blue); */
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    font-family: 'Salsa', cursive;
    color: whitesmoke;
    text-shadow: 5px 0px 7px rgba(0,0,0,0.68);
}

footer h5 {
    cursor: pointer;
    font-size: 1.5rem;
    margin-bottom: 2.2vh;
    transition: 600ms ease-in-out;
    animation: float 6s ease-in-out infinite;
}

footer li {
    cursor: pointer;
    list-style: none;
    margin-bottom: 2.5vh;
    transition: 600ms ease-in-out;
    font-size: 1.2rem;
    animation: float 6s ease-in-out infinite;
}

footer h5:hover, footer li:hover {
    text-decoration: underline;
    color: black;
}



@keyframes showanim {
    0% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes bgPositionAnim {
    0% {
        background-position: center calc(100% + 60px);
    }
    100% {
        background-position: center;
    }
}

@keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-0.5rem);
    }
    100% {
      transform: translatey(0px);
    }
  }