@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');


:root {
    --deep-blue: rgb(20, 83, 154);
}

html {
    font-size: 20px;
    background-color: var(--deep-blue);
} 

/* Header section */

header {
    width: 100vw;
    height: 12.5vh;

    background-color: var(--deep-blue);

    position: fixed;
    top: 0; 
    left: 0;

    display: flex; /* Make header a flex container */
    justify-content: space-around;
    align-items: center;
}


header li {
    list-style: none;
    cursor: pointer;
    font-family: 'Salsa', cursive;
    text-shadow: 5px 0px 7px rgba(0,0,0,0.68);
    letter-spacing: 0.13rem;
    font-size: 1.5rem;
    animation: float 6s ease-in-out infinite;
    color: whitesmoke;
    transform: translatey(0px);
    /* transition: all 0.3s ease-in-out; */
}


header li a {
    text-decoration: none;
    color: whitesmoke;
    transition: 400ms ease-in-out;

}

header li a:hover {
    text-decoration: underline;
}


header li div img {
    border-radius: 50%;
    height: 5vh;
    width: calc(5vh * 1.02);
}


.profile-dropdown {
    position: relative;
    display: inline-block;
}

.hidden-profile-view {
    margin-left: -3.5vw; 
    padding-right: 1.5vw;
    display: block;
    position: absolute;
    text-align: center;
    background-color: rgba(20, 83, 154, 0.5);
    box-shadow: 0px 0px 25px 4px rgba(0, 0, 0, 0.75);
    border-radius: 1.4rem;
    opacity: 0;
    transition: opacity 600ms ease-in-out;
}

.profile-dropdown:hover .hidden-profile-view {
    opacity: 1;
}

.hidden-profile-view li {
    margin-top: 1.7vh;
    display: inline-block;
}
/* End of Header */


section {
    width: 100vw;
    height: 60vh;
    margin: 17vh auto 0;
    margin-left: -0.7vh;
    position: relative;
    z-index: -1;

    background-image: url('./images/main-room.jpg');
    background-size: cover;
    background-attachment: fixed;

    animation-name: showanim, bgPositionAnim;
    animation-duration: 15s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}


h1 {
    color: whitesmoke;
    font-size: 7rem;
    font-family: 'Permanent Marker', cursive;
    text-shadow: 5px 0px 7px rgba(0,0,0,0.68);
    text-align: center;
    letter-spacing: 0.7rem;
}


footer {
    width: 98vw;
    height: 32vh;
    /* margin: 74vh auto 0; */
    position: absolute;
    z-index: -2;
    background-color: var(--deep-blue);
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    font-family: 'Salsa', cursive;
    color: whitesmoke;
    text-shadow: 5px 0px 7px rgba(0,0,0,0.68);
}

footer h5 {
    cursor: pointer;
    font-size: 1.5rem;
    margin-bottom: 2.2vh;
    transition: 600ms ease-in-out;
    animation: float 6s ease-in-out infinite;
}

footer li {
    cursor: pointer;
    list-style: none;
    margin-bottom: 2.5vh;
    transition: 600ms ease-in-out;
    font-size: 1.2rem;
    animation: float 6s ease-in-out infinite;
}

footer h5:hover, footer li:hover {
    text-decoration: underline;
}

main {
    width: 100vw;
    /* margin: 75.6vh auto 0; */
    margin-left: -0.4vw;
    height: 70vh;
    background-color: rgb(165, 42, 42);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main h2 {
    text-align: center;
    width: 40vw;
    color: whitesmoke;
    font-family: 'Permanent Marker', cursive;
    font-size: 2rem;
}




@keyframes showanim {
    0% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes bgPositionAnim {
    0% {
        background-position: center calc(100% + 60px);
    }
    100% {
        background-position: center;
    }
}

@keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-0.2rem);
    }
    100% {
      transform: translatey(0px);
    }
  }